<%page expression_filter="h"/>

<div id="unenroll-entitlement-modal" class="entitlement-modal unenroll-entitlement-modal" aria-hidden="true">
  <div class="entitlement-modal-inner-wrapper" role="dialog" aria-labelledby="unenroll-entitlement-modal-title">
    <button class="close-entitlement-modal">
      <span class="icon fa fa-remove" aria-hidden="true"></span>
      <span class="sr">
        ## Translators: this is a control to allow users to exit out of this modal interface (a menu or piece of UI that takes the full focus of the screen)
        ${_("Close")}
      </span>
    </button>

    <header class="entitlement-unenroll-header">
      <h2 id="unenroll-entitlement-modal-title">
        <span id='entitlement-track-info'></span>
        <span id='entitlement-refund-info'></span>
        <span class="sr">,
          ## Translators: this text gives status on if the modal interface (a menu or piece of UI that takes the full focus of the screen) is open or not
          ${_("window open")}
        </span>
      </h2>
      <hr/>
    </header>
    <div id="unenroll-entitlement-error" class="entitlement-modal-form-error"></div>
    <div class="wrapper-unenroll-entitlement-submit">
      <button id="unenroll-entitlement-submit" class="unenroll-entitlement-submit">${_("Unenroll")}</button>
    </div>
  </div>
</div>
